[flake8]
# References:
# https://flake8.readthedocs.io/en/latest/user/configuration.html
# https://flake8.readthedocs.io/en/latest/user/error-codes.html

# Note: there cannot be spaces after comma's here
exclude = __init__.py
ignore =
    E26,   # Comments
    W503,  # line break before binary operator
    W504,  # line break after binary operator
    E203,  # whitespace before ':'
max-line-length = 120
